.rx-form-item {
	$blue: #1f9cfc;

	.rs-input,
	.rs-select {
		position: relative;
		display: inline-block;
		width: 100%;
	}

	.rs-textarea {
		position: relative;
		display: block;
		width: 100%;
	}

	.rs-select-icon {
		position: absolute;
		top: 44px;
		right: 30px;
		width: 0;
		height: 0;
		border: 15px solid transparent;
		border-top-color: #ccc;
		z-index: 2;
	}
}
