.rx-chk-icon {
	position: relative;
	display: inline-block;

	> .rx-icon {
		vertical-align: middle;
		font-size: 23px;
	}

	> span {
		color: #222;
		vertical-align: middle;
		line-height: 23px;
	}
}
