.rx-chk-icon {
	position: relative;
	display: inline-block;

	&.vertical {
		display: block;
	}

	> .rx-icon {
		vertical-align: middle;
		font-size: 30px;
	}

	&.disabled {
		color: #ccc;

		> .rx-icon {
			color: #ccc !important;
		}
	}

	> span {
		color: #222;
		vertical-align: middle;
		line-height: 30px;
	}
}
