@mixin col-span-flex($max: 24) {
	@for $i from 1 to 13 {
		&-#{$i} {
			flex: 0 0 percentage($i / $max);
			height: 100%;
		}
	}
}

@mixin col-span($max: 24) {
	@for $i from 1 to 13 {
		&-#{$i} {
			float: left;
			width: percentage($i / $max);
			height: 100%;
		}
	}
}
