[rs-view="lottery"] {
	width: 85%;
	margin: auto;
	$line-height: 50px;

	.pane {
		position: relative;
		min-height: 250px;
		padding: 20px;
		border-radius: 25px;
		margin-bottom: 30px;
		color: #eb6b0a;
		background: #ffed99;
		font-weight: 500;
		font-size: 27px;
	}

	.title {
		position: relative;
		color: #e56304;
		font-weight: bolder;
		font-size: 36px;

		.right-tip {
			position: absolute;
			top: 3px;
			right: 15px;
			font-size: 22px;
		}
	}

	.rolling-container {
		position: absolute;
		top: 130px;
		left: 10%;
		width: 80%;
		color: #fff;
		overflow: hidden;
		z-index: 10;
	}

	.rolling-wrap {
		width: 8000%;
		height: $line-height;

		.list-wrap {
			float: left;
		}

		ul {
			float: left;
			height: $line-height;
			overflow: hidden;
			zoom: 1;

			li {
				float: left;
				padding: 0 20px;
				margin-top: -3px;
				line-height: $line-height;
			}
		}
	}
}
