.wrap-map {
	position: relative;
	width: 100%;
	height: 100%;

	img {
		width: 100%;
		height: 100%;
	}

	.node {
		position: absolute;
		height: 40px;
		padding: 0 5px;
		border-radius: 10px;
		color: #fff;
		background: #f18101;
		font-size: 20px;
		line-height: 40px;
		z-index: 10;

		&.active {
			top: 520px;
			height: 50px;
			padding: 0 10px;
			background: #e70012;
			font-weight: bold;
			font-size: 27px;
			line-height: 50px;
			z-index: 20;
			zoom: 1;
		}

		&-0 {
			top: 600px;
			right: 10px;

			&.active {
				top: 530px;
				right: 10px;
			}
		}

		&-1 {
			top: 560px;
			right: 180px;

			&.active {
				top: 520px;
				right: 180px;
			}
		}

		&-2 {
			top: 500px;
			right: 260px;

			&.active {
				top: 450px;
				right: 230px;
			}
		}

		&-3 {
			top: 460px;
			right: 450px;

			&.active {
				top: 460px;
				right: 450px;
			}
		}

		&-4 {
			top: 550px;
			right: 445px;
		}

		&-5 {
			top: 490px;
			right: 610px;

			&.active {
				top: 490px;
				right: 590px;
			}
		}

		&-6 {
			top: 430px;
			right: 600px;

			&.active {
				top: 420px;
				right: 590px;
			}
		}

		&-7 {
			top: 389px;
			right: 440px;

			&.active {
				top: 369px;
				right: 440px;
			}
		}

		&-8 {
			top: 339px;
			right: 590px;

			&.active {
				top: 319px;
				right: 600px;
			}
		}

		&-9 {
			top: 319px;
			right: 440px;

			&.active {
				top: 319px;
				right: 430px;
			}
		}

		&-10 {
			top: 269px;
			right: 370px;

			&.active {
				top: 249px;
				right: 340px;
			}
		}

		&-11 {
			top: 169px;
			right: 460px;

			&.active {
				top: 169px;
				right: 460px;
			}
		}

		&-12 {
			top: 79px;
			right: 220px;

			&.active {
				top: 62px;
				right: 240px;
			}
		}
	}

	.human {
		position: absolute;
		width: 80px;
		height: 100px;
		z-index: 10;
		z-index: 30;

		&-2,
		&-7,
		&-9,
		&-10,
		&-12 {
			transform-style: preserve-3d;
			transform: rotateY(180deg);
			perspective: 500;
		}

		&-0 {
			top: 580px;
			right: 30px;
		}

		&-1 {
			top: 570px;
			right: 200px;
		}

		&-2 {
			top: 460px;
			right: 340px;
		}

		&-3 {
			top: 430px;
			right: 395px;
		}

		&-4 {
			top: 550px;
			right: 380px;
		}

		&-5 {
			top: 460px;
			right: 530px;
		}

		&-6 {
			top: 360px;
			right: 530px;
		}

		&-7 {
			top: 320px;
			right: 550px;
		}

		&-8 {
			top: 280px;
			right: 530px;
		}

		&-9 {
			top: 260px;
			right: 510px;
		}

		&-10 {
			top: 200px;
			right: 490px;
		}

		&-11 {
			top: 140px;
			right: 390px;
		}

		&-12 {
			top: 40px;
			right: 360px;
		}
	}
}
