[rs-view="lottery"] {
	.pane-turntable {
		height: 800px;
		padding: 0 !important;
		margin-top: 30px !important;
		background: none !important;

		.lottery-time {
			position: absolute;
			top: 27px;
			width: 100%;
			color: #a03137;
			font-weight: bolder;
			font-size: 35px;
			text-align: center;
			z-index: 10;

			.strong {
				color: #f7646a;
				font-size: 45px;
			}
		}

		> img {
			width: 100%;
			height: 100%;

			&.z2 {
				position: absolute;
				top: 100px;
				left: 5%;
				width: 90%;
				height: 680px;
				z-index: 9;
			}
		}

		.pane-lottery_items {
			position: absolute;
			top: 230px;
			left: percentage((1 - 0.78) / 2);
			width: percentage(0.78);
			z-index: 20;

			li {
				position: relative;
				float: left;
				width: 33.333%;
				height: 168px;
				text-align: center;

				img {
					width: 92%;
					height: 92%;
					border-radius: 20px;
					margin: auto;
				}

				.good-img {
					position: absolute;
					top: 25%;
					left: 50%;
					width: 70%;
					height: 45%;
					transform: translateY(-25%) translateX(-50%);
					z-index: 22;
				}

				.good-title {
					position: absolute;
					top: 80%;
					left: 50%;
					width: 98%;
					color: #b6282d;
					font-weight: bolder;
					font-size: 27px;
					text-align: center;
					// word-break: break-all;
					letter-spacing: 1px;
					transform: translateY(-80%) translateX(-50%);
					z-index: 22;
					zoom: 1;
				}

				&.active .good-title {
					color: #d9711f;
				}
			}
		}
	}
}
