@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
	[rs-view="exam.index"] {
		.container {
			.exam-rule {
				margin-top: 86px;
			}
		}
	}

	[rs-view="exam.result"] {
		.details {
			max-height: 360px;
		}

		.card-wrap {
			padding-top: 223px;

			p {
				top: 320px;
			}
		}
	}
}
