<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="preload" as="script" href="{JXRS_APP_MODULE}/static/flexible.js">
	<link rel="preload" as="script" href="{JXRS_APP_MODULE}/static/jsapi.min.js?JXRSApi&JXRSBridge">
	<link rel="stylesheet" href="{JXRS_APP_MODULE}/static/animate.min.css">
</head>

<body>
	<div id="app"></div>
	<script src="{JXRS_APP_MODULE}/static/flexible.js"></script>
	<script src="{JXRS_APP_MODULE}/static/jsapi.min.js?JXRSApi&JXRSBridge"></script>
</body>

</html>