.empty {
	position: absolute;
	top: 40%;
	width: 100%;
	text-align: center;
	transform: translateY(-40%) translateZ(0);
	z-index: 10;

	img {
		width: 500px;
		height: 400px;
	}

	p {
		width: 70%;
		margin: auto;
		margin-top: 20px;
		color: #999;
		font-size: 28px;

		span.strong {
			color: #0398ee;
		}
	}
}
