[rs-view="index"] {
	.pane {
		&-entry {
			padding: 29px 30px;
		}

		&-ad {
			width: 100%;
			height: 220px;

			img {
				width: 100%;
				height: 100%;
			}
		}

		&-tags {
			padding: 30px;

			.rx-row {
				margin-bottom: 2px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}
