.rx-fade {
	&-enter-active,
	&-leave-active {
		opacity: 1;
		transition: opacity 0.2s linear;
	}

	&-enter,
	&-leave-to {
		opacity: 0;
	}
}

.rx-slide-from-top,
.rx-slide-from-bottom {
	&-enter-active,
	&-leave-active {
		transition: all 0.4s cubic-bezier(0.36, 0.66, 0.04, 1);
	}
}

.rx-slide-from-top {
	&-enter,
	&-leave-active {
		opacity: 0;
		transform: translateX(-50%) translateY(-100%) !important;
	}
}

.rx-slide-from-bottom {
	&-enter,
	&-leave-active {
		opacity: 0;
		transform: translateX(-50%) translateY(100%) !important;
	}
}
