.item_of_comment {
	&.rx-cell-avatar {
		align-items: stretch !important;

		& ~ .rx-cell-avatar {
			padding-top: 0;
		}
	}

	.rx-cell-img {
		flex: 0 0 72px;

		img {
			width: 60px;
			height: 60px;
			border-radius: 50%;
			margin-top: 10px;
		}
	}

	.rx-cell-content {
		.header {
			margin-bottom: 10px;
			color: #487acd;
			font-size: 30px;

			.user-name {
				font-size: 24px;
			}
		}

		.body {
			color: #333;
			font-size: 30px;
		}

		.footer {
			padding-bottom: 10px;
			color: #666;
			font-size: 24px;
			line-height: 1;
		}
	}
}
