.msgbox {
	position: relative;
	width: 100%;
	padding: 42px 0;
	text-align: center;
}

.msgbox_content {
	position: relative;
	display: inline-block;
	max-width: 310px;
	height: 60px;
	border-radius: 30px;
	margin: auto;
	color: #fff;
	background-color: #666;
	font-size: 28px;
	line-height: 60px;
	text-align: left;

	img {
		width: 60px;
		height: 60px;
		border: none;
		border-radius: 50%;
		margin-left: 1px;
		vertical-align: middle;
	}

	span {
		margin-right: 7px;
		margin-left: 17px;
		vertical-align: middle;
	}

	.rx-icon {
		color: #fff;
		vertical-align: middle;
		font-size: 44px;
	}
}
