.pane_of_comment {
	.empty-wrap {
		padding: 67px 0 81px 0;
		color: #666;
		font-size: 30px;
		text-align: center;

		.rx-icon {
			color: #0091f5;
			font-size: 46px;
		}

		img {
			width: 223px;
			height: 383px;
		}

		p {
			padding-top: 27px;
		}
	}

	.rx-card_header {
		padding-left: 30px;
		font-size: 30px;

		span {
			position: relative;

			&:first-child {
				padding-left: 20px;

				&:before {
					position: absolute;
					top: 6px;
					left: 0;
					width: 4px;
					height: 30px;
					background: #4c91ff;
					content: "";
				}
			}
		}

		.zan {
			float: right;
			margin-right: 30px;
			font-size: 30px;
		}
	}
}
