.pane_of_comment {
	.empty {
		padding: 67px 0 81px 0;
		color: #666;
		font-size: 30px;
		text-align: center;

		.rx-icon {
			color: #0091f5;
			font-size: 46px;
		}

		p {
			padding-top: 27px;
		}
	}

	.rx-card_header {
		padding-left: 30px;
	}
}
