.detail {
    .nav {
        padding-bottom:40px;
        .rx-col {
            text-align: center;
            .iconfont {
                font-size:120px;
            }
            .icon-daifahuo {
                color:rgb(201, 184, 31);
            }
            .icon-daishouhuo {
                color:rgb(102, 241, 109)
            }
        }

    }
    .bar {
        width:100%;
        height:90px;
        background:rgba(245,245,245,1);
        .title {
            padding-left:31px;
            padding-top:40px;
            .text {
                font-size:32px;
                font-family:"PingFang-SC-Medium";
                font-weight:500;
                color:rgba(51,51,51,1);
                padding-left:10px;
                border-left:6px solid rgba(0,151,238,1);

            }
        }
    }
    .empty {
        height:900px;
        line-height: 900px;
        text-align: center;
        .icon-dingdan {
            font-size:230px;
            color:rgb(123, 199, 250)
        }
        p {
            font-size:28px;
            font-family:PingFang-SC-Medium;
            font-weight:500;
            color:rgba(153,153,153,1);
            line-height:48px;
        }
    }
    .item {
        padding:0 30px;
        border-bottom: 20px solid rgba(245,245,245,1);
        .msg {
            display:flex;
            justify-content:space-between;
            height:70px;
            border-bottom:1px solid rgba(230,230,230,1);
            line-height:70px;
            .data {
                font-size:24px;
                font-family:"PingFang-SC-Medium";
                font-weight:500;
                color:rgba(153,153,153,1);
            }
            .state {
                font-size:24px;
                font-family:"PingFang-SC-Medium";
                font-weight:500;
                color:rgba(0,151,238,1);
            }
        }
        .list {
            display:flex;
            justify-content:space-between;
            height:223px;
            align-items:center;
            .pic {
                width:150px;
                height:150px;
                img {
                    width:100%;
                    height:100%;
                }
            }
            .list-text {
                width:512px;
                height:150px;
                position: relative;
            }
            .price {
                position: absolute;
                bottom:0;
                .active {
                    font-size:32px;
                    font-family:PingFang-SC-Bold;
                    font-weight:bold;
                    color:rgba(255,161,50,1);
                }
                span {
                    font-size:24px;
                    font-family:PingFang-SC-Bold;
                    font-weight:bold;
                    color:rgba(51,51,51,1);
                }
            }
            .right {
                position: absolute;
                right:0;
                bottom:0;
                font-size:24px;
                font-family:PingFang-SC-Bold;
                font-weight:bold;
                color:rgba(51,51,51,1);
            }
        }
    }
}