.index {
    display: flex;
    min-height: 100%;
    text-decoration: none;
    width: 100%;
    height: 100%;
    flex-direction: column;

    .body {
        flex: 1;
        overflow-y: scroll;
        display:flex;
        background:rgba(245,245,245,1);

        .content {
            flex: 1;
            position: relative;
            .backpic {
                height:505px;
                width:100%;
                position: absolute;

                img {
                    width:100%;
                    height:100%;
                }
            }
            .nav {
                height:88px;
                margin-bottom:230px;

                span {
                    position: absolute;
                    top:20px;
                    right:20px;
                    font-size:26px;
                    font-family:PingFang-SC-Medium;
                    font-weight:500;
                    color:rgba(255,255,255,1);
                    line-height:44px;
                    width:88px;
                    height:44px;
                    text-align: center;
                    background:rgba(57,46,144,1);
                }
            }
            .column {
                width:690px;
                height:630px;
                background:rgba(255,255,255,1);
                box-shadow:0px 2px 20px 0px rgba(0,80,126,0.1);
                border-radius:33px;
                margin:0px auto;
                overflow:hidden;
                position: relative;
                .column-input {
                    width:670px;
                    height:202px;
                    border-radius:23px;
                    margin:10px auto;
                    font-size:28px;
                    font-family:PingFang-SC-Medium;
                    font-weight:bold;
                    color:rgba(51,51,51,1);
                    .column-text {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        height:202px;
                        padding:0 20px;
                        .column-name span,.column-action span{
                            vertical-align:text-top;
                        }
                        .column-name div,.column-action div {
                            display:inline-block;
                            width:480px;
                            vertical-align:text-top;
                            height:60px;
                            overflow: scroll;
                        }
                        input,textarea{
                            border:none;
                            font-size:28px;
                            font-family:PingFang-SC-Medium;
                            font-weight:bold;
                            background:rgba(204,204,204,1);
                            width:480px;
                            vertical-align:text-top;
                        }
                    }
                }
                .editActive {
                    background:rgba(204,204,204,1);
                }
                .column-icon {
                    width:210px;
                    height:210px;
                    margin:40px auto;
                    position: relative;


                    img {
                        width:100%;
                        height:100%;
                    }

                    div {
                        position: absolute;
                        top:50%;
                        left:50%;
                        width:120px;
                        height:38px;
                        margin:-19px 0 0 -60px;
                        font-size:40px;
                        font-family:PingFang-SC-Medium;
                        font-weight:bold;
                        color:rgba(255,255,255,1);
                    }

                }
                .column-footer {
                    display:flex;
                    flex-direction:column;
                    justify-content: space-around;
                    align-items:center;
                    .red {
                        color:#FF3254;
                    }
                    .jion {
                        font-size:26px;
                        font-family:PingFang-SC-Medium;
                        font-weight:bold;
                        line-height:42px;
                        color:rgba(51,51,51,1);

                        .img {
                            display:inline-block;
                            width:32px;
                            height:32px;
                            vertical-align:text-bottom;
                            img {
                                width:100%;
                                height:100%;
                            }
                        }
                    }
                    .tips {
                        font-size:24px;
                        font-family:PingFang-SC-Medium;
                        font-weight:bold;
                        color:rgba(153,153,153,1);
                        line-height:42px;
                    }
                }

            }
        }
    }
    footer {
        height:98px;
        background:rgba(255,255,255,1);
        background:linear-gradient(90deg,rgba(105,119,255,1),rgba(168,121,255,1));
        display:flex;
        justify-content:space-around;
        align-items: center;

        .left,.right {
            height:58px;
            line-height: 58px;
            text-align: center;
            flex:1;
        }
        .left {
            border-right: 2px solid rgba(255,255,255,0.3);
            border-radius:1px;
            font-size:32px;
            font-family:PingFang-SC-Medium;
            font-weight:bold;
            color:rgba(255,255,255,1);
        }
        .right {
            font-size:32px;
            font-family:PingFang-SC-Medium;
            font-weight:bold;
            color:rgba(255,255,255,1);
            opacity:0.5;
        }
    }
    
}