@import "../variable.scss";
@import "./skeleton.scss";

$cell-border-color: #e6e6e6;
$cell-border-style: solid;
$cell-border-width: 1px;

$cell-border: $cell-border-width $cell-border-style $cell-border-color;

.rx-cell {
	position: relative;
	color: $cell-color;
	line-height: $cell-lineheight;
	text-align: left;

	&.b {
		border: $cell-border;
	}

	&.b-t {
		border-top: $cell-border;
	}

	&.b-r {
		border-right: $cell-border;
	}

	&.b-b {
		border-bottom: $cell-border;
	}

	&.b-l {
		border-left: $cell-border;
	}

	&-header {
		position: relative;
		padding: $cell-header-padding;
		color: inherit;
		font-weight: 600;
		font-size: $cell-header-font-size;
		word-break: break-all;
	}

	&-body {
		padding: $cell-body-margin;
		overflow: hidden;
		font-size: $cell-body-font-size;

		&.hide {
			max-height: $cell-maxheight;
		}
	}

	&-content {
		color: #666;
		font-size: 28px;
		line-height: 44px;
	}

	&-imgs {
		margin-top: 20px;

		img {
			width: 100%;
			height: 180px;
		}
	}

	&-footer {
		margin: $cell-footer-margin;
		color: $cell-footer-color;
		font-size: $cell-footer-font-size;
		line-height: 48px;
	}
}

.rx-cell.rx-skeleton {
	.rx-row {
		padding-right: 8px;
		padding-left: 8px;
	}

	.rx-col {
		padding-right: 4px;
		padding-left: 4px;
	}

	.rx-cell {
		&-imgs {
			.block {
				height: 180px;
				animation: fade 1s ease-in-out infinite;
			}
		}

		&-content {
			.block {
				height: 60px;
			}
		}

		&-footer {
			.block {
				height: 20px;
			}
		}
	}
}
