.rx-clamp-box {
	position: relative;

	.text {
		max-height: 100%;
	}

	.hide {
		max-height: 200px;
		overflow: hidden;
		text-overflow: ellipsis;
		word-break: break-all;
	}
}

.rx-clamp-box {
	&_tip {
		position: absolute;
		right: 0;
		bottom: -10px;
		color: #0097ee;
		font-size: 30px;
		z-index: 1;
	}
}
