.rx-swipe-cell {
	width: 100%;
	overflow: hidden;
}

.rx-swipe-cell {
	&_item,
	&_content {
		position: relative;
	}

	&_left,
	&_right {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		font-size: 0;
	}

	&_right {
		text-align: right;
	}

	&_left {
		text-align: left;
	}
}
