[rs-view="profile"] {
	background-color: #f5f5f5;
	overflow: hidden;

	.sub-title {
		position: relative;
		padding-left: 19px;
		color: #999;
		background: #f5f5f5;
		font-size: 24px;
		line-height: 48px;
		z-index: 100;
	}

	.card-user {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 170px;
		background-color: #fff;
		z-index: 10;
	}

	.rx-tab {
		height: 100%;
		padding-top: 170px;
		overflow: hidden;
	}

	.rx-tab-nav.active {
		&:before {
			width: 60px;
		}
	}

	.rx-cell-right .action .rx-btn i {
		font-size: 40px;
	}

	.empty {
		padding: 358px 0;
		color: #666;
		font-size: 30px;
		text-align: center;

		.rx-icon {
			color: #0091f5;
			font-size: 46px;
		}

		p {
			margin-top: 30px;
		}
	}

	.loading {
		padding: 30px 0;
		text-align: center;

		.rx-icon {
			font-size: 50px;
		}
	}

	.refuse {
		color: #f56c6c;
	}

	.auditing {
		color: #0091f5;
	}

	.rx-tab-pane {
		padding-top: 0;
	}
}
